body, p, h1, h2, h3, h4, h5, h6, ul, li, form{
  margin:0;
  padding:0;
  line-height:18px;
}

p, h2, h3, h4, h5, h6{
  margin-bottom:18px;
}

#page{
  display:block;
  width:900px;
  margin: 0px auto;
}

#header{
  height:138px;
  width:100%;
}

	#header #header_logo{
		height:100%;
		width:700px;
	  float:left;
	}

	#header #user_nav{
		width:164px;
		float:right;
		text-align: right;
		margin-right: 36px;
	}

#footer{
  height:36px;
  width:100%;
}

#middle{
  width:100%;
}

	#middle #topbar{
		width:100%;
		height:50px;
	}

	#middle #main{
		width:100%;
		height:600px;
	}

.center{
	margin-left:auto;
	margin-right:auto;
}

ul#navlist {
	width:300px;
	float:right;
}

#navlist li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#food_image_main{
	padding: 0px;
	height: 679px;
	width: 430px;
	float:left;
/*	background: #F2f2f2;*/
	margin-top: 50px;
}

#center-content {
	width: 905px;
	margin-left: auto;
	margin-right: auto;
	background: #EBE4B5;
}

#content {
	padding: 0px 0px 0px;
	height: 396px;
	width: 430px;
	float: left;
	margin-top: 220px;
	vertical-align: top;
}

#content p {
	font: 12px Arial, Helvetica, sans-serif;
	color: #999999;
	padding-left: 20px;
}

