
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #EBE4B5;
}

#header{
}

#header #header_logo{
	background: #EBE4B5 url("../images/sandora_logo_header_2.jpg") top center no-repeat;
}

#header #user_nav{
}
-
#footer{
	background-color: #EBE4B5;
}

#middle{
	background-color: #EBE4B5;
}

#middle #left_section{
	background-color: #E1E4B5;
}

#middle #right_section{
	background-color: #E1E4B5;
}

#main{
	background-color: #EBE4B5;
}

#footer{
	text-align:center;
}

#footer p{
	margin:0;
}

a{
	color:#4d3900 ;
	text-decoration:none;
}

a:visited{
	color:#806f40 ;
}

a:hover{
	color:#807940 ;
	text-decoration:underline;
}

#button_nav_enter{
	display: block;
	width: 430px;
	height: 20px;
	background: url("/images/want_some.jpg") no-repeat 0 0;
	}


#button_nav_enter:hover{ 
	background: url("/images/want_some_2.jpg") no-repeat 0 0;
	}

