
#center-content
	#food_image_main
		= image_tag("SDC11193_c.jpg")
	#content
		
		#logo
			= image_tag("sandora_logo.jpg")
		%p
			/= link_to '', navigation_index_url, :id => 'button_nav_enter'
		%p
			by Mary and Darrell
			%br
			we sell delicious homemade 
			%b
				MONKEY BREAD!
			%br
			a delicious holiday treat and a great gift
			%br
			contact us for orders: sandorafoods(at)gmail.com
			%br
			more to come soon!
		%p
			Follow us on 
			= link_to 'facebook', "http://www.facebook.com/pages/Sandora-Foods/130512757005336", :target=>"_blank"
			and 
			= link_to 'twitter', "http://twitter.com/sandorafoods", :target=>"_blank"