%h1 Welcome to Sandora
%p
	Your place for deliciousness.
	
%p
	= link_to 'Who are we?', navigation_about_path
	
%p
	Our feature product is Monkey Bread!

%p 
	Check out our
	= link_to 'Products', products_path