%h1 Welcome to Sandora
%p
	Your place for deliciousness.
	
%p
	= link_to 'Who are we?', navigation_about_path
	
%p
	Our feature product is Monkey Bread!

%p 
	= link_to "I'd like some!", order_products_path